.twoButtons {
  width: 25%;
  height: 80px;
  font-size: 60px;
  background: url("./openbook.jpg");
  background-repeat: no-repeat;
  background-size:  ;
}
div {
  margin-top: 5px;
  margin-bottom: -5px;
}
