
.MainView {
  display: flex;
flex-direction: column;
}

.CharStuff {
  display:inline-block;

}
.QuoteScreen {
  display:flex;
  background-color: rgb(166, 166, 166);
flex: 0 0 100%;
flex-direction:row;
height: 40px;
flex-grow:4;
}

.CurrentChar {
  background-color: rgb(166, 166, 166);
flex: 0 0 50%;
}

.PrevNextButtons{



}
