.MainView {
  display: flex;
  flex-direction: column;
}

.CharStuff {
  display: inline-block;
}
.QuoteScreen {
  display: flex;
  background-color: rgba(38, 12, 12, 0.08);
  flex: 0 0 100%;
  flex-direction: row;
  height: 400px;
  flex-grow: 4;
  padding: 0 30px 30px 0;
  font-size: 30px;
  margin: 15px;
  justify-content: center;
}

.CurrentChar {
  background-color: rgb(229, 229, 204);
  flex: 0 0 50%;

  padding: 10px 0;
  font-size: 40px;
}

p {
  text-align: center;
}
