.MainView {
  display: flex;
  flex-direction: column;
}

.CharStuff {
  display: inline-block;
}
.QuoteScreen {
  display: flex;
  background-color: rgb(166, 166, 166);
  flex: 0 0 100%;
  flex-direction: row;
  height: 240px;
  flex-grow: 4;
  padding: 0 15 15 140;
  font-size: 20px;
  margin: 15px;
}
.Quote {
  background-color: rgb(166, 166, 166);
}

.CurrentChar {
  background-color: rgb(229, 229, 204);
  flex: 0 0 50%;

  padding: 10px 0;
  font-size: 30px;
}

.PrevNextButtons {
  height: 300px;
}
